<h1>New meter</h1>

<% form_for(@meter, :url => record_meters_path, :method => :put) do |f| %>
  <%= render :partial => "fields", :locals => {:f => f} %>  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', record_meters_path %>
